.App {
  text-align: center;
  background-color: lightgray;
}

.App-logo {
  height: 40vmin;
}
.container-fluid{
  width: 100%;
  margin: 0;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.App-link {
  color: #09d3ac;
}
.col-sm-12{
  border:1px solid  #343a40;
  border-radius: 5px;
}
.col-3{
  background-color: #09d3ac;
}
.navbar-brand{
  color: #FFFFFF !important;
}
p{
  font-size: 1em;
}
.col-12 {
  font-size: 16px;
  color: blue;
  padding: 0;
}
.list-inline-item{
  margin: 1em;
  text-align: center;
}